{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="d-flex align-items-center justify-content-center" style="min-height: calc(100vh - 100px);">
    <div >
<form action="{% url 'djangoapp:login' %}" method="post">
    {% csrf_token %}
        <h1>Login</h1>
        <hr>
        <div class="form-group">
          <label for="username"><b>User Name</b></label>
          <input id="username" class = "form-control" type="text" placeholder="Enter User Name: " name="username" required>
          <label for="psw"><b>Password</b></label>
          <input id="psw" class = "form-control" type="password"  placeholder="Enter Password: " name="password" required>
        </div>
        {% if message %}
          <div class="alert alert-warning">
            {{ message }}
          </div>
        {% endif %}
        <button class="btn btn-primary" type="submit">Login</button>
    
</form>
</div>
</div>
{% endblock %}